.form-btn {
  background-color: #fff;
  outline: none;
  border: 1px solid #d0d0d0;
  width: 250px;
  height: 36px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;

  &:hover {
    cursor: pointer;
    border: 1px solid #ffa500;
    color: #ffa500;
    transition: all 0.5s ease;
  }
}

@media only screen and (max-width: 992px) {
  .form-btn {
    width: 400px;
  }
}

@media only screen and (max-width: 768px) {
  .form-btn {
    width: 100%;
  }
}