.posts-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  width: 100%;
  height: fit-content;

  &__column {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__post {
    width: 100%;
    transition: all 0.5s linear;
  }

  @media only screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}