.contact-form {
  background-color: #fff;
  padding: 22px;

  &__text {
    width: 540px;
    margin-bottom: 20px;
  }

  &__title {
    margin-bottom: 25px;
  }

  &__form-field {
    margin-bottom: 10px;
  }

  &__form-btn {
    margin-left: 150px;
  }
}

@media only screen and (max-width: 992px) {
  .contact-form {
    &__text {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .contact-form {
    &__form-btn {
      margin-left: 0;
    }
  }
}