.form-input {
  outline: none;
  padding-left: 10px;
  width: 100%;
  height: 38px;
  border: 1px solid #d0d0d0;

  &_text {
    width: 100%;
    height: 120px;
    padding-top: 10px;
  }

  &:focus {
    border: 1px solid #000;
  }
}