.form-field {
  display: grid;
  grid-template-columns: 150px 250px;

  &_text {
    grid-template-columns: 150px 380px;
  }
}

@media only screen and (max-width: 992px) {
  .form-field {
    grid-template-columns: 150px 400px;
  }
}

@media only screen and (max-width: 768px) {
  .form-field {
    grid-template-columns: 100%;

    &__label {
      margin-bottom: 10px;
    }
  }
}