.posts-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 20px;
  max-height: 1500px;

  &__post {
    width: 30%;
    transition: all 0.5s linear;
  }

  @media only screen and (max-width: 992px) {
    max-height: 2500px;

    &__post {
      width: 47%;
    }
  }

  @media only screen and (max-width: 768px) {
    max-height: fit-content;

    &__post {
      width: 100%;
    }
  }
}